* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0; 

}

#background {
    background-image: url('banner-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

#area-login {
    height: 100vh;
    width: 50%;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-conteudo {
    width: 50%;
    height: 50%;
    background-color: rgb(24, 24, 24);
    border: 1px solid white;
    color: black;
    border-radius: 0 0 10px 10px;
}

#login-text {
    background-color: rgb(235, 235, 235);
    height: 120px;
    width: 50%;
    line-height: 120px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;

}

#login-text:hover {
    color:  rgb(11, 228, 243);
    transition: 0.5s;
}

::placeholder {
    font-size: 15px;
    font-style: italic;
    margin: 2px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
input {
    display: block;
    height: 50px;
    width: 60%;
    margin-bottom: 20px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 20px;
    color: rgb(80, 80, 80);
}

input:focus {
    border: 1px solid rgb(11, 228, 243);
}

button {
    width: 60%;
    height: 50px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    transition: 0.5s;
}

button:hover {
    background-color: rgb(182, 182, 182);
    transition: 0.5s;
}

#registrar {
    background-color: rgb(11, 228, 243);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    transition: 0.5s;

}

#registrar:hover {
    background-color: rgb(3, 168, 180);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    transition: 0.5s;

}

#desenvolvedor {
    color: white;
    font-size: 15px;
    width: 60%;
    margin-top: 40px;
    text-align: center;
    border-bottom: 2px solid white;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    #area-login {
        height: 100vh;
        width: 100%;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
  }

  @media screen and (max-width: 1190px) {
    #area-login {
        height: 100vh;
        width: 100%;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
  }



